* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    /* display: none; лучше не использовать, ломается доступность */
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 0;
    top: 0;
    left: 0;
}

a {
    text-decoration: none;
}


.undotted {
    list-style-type : none
}


.content {
    max-width: 1180px;
    margin: auto;

}

/* общее свойства для кнопок */
.btn{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 9px 22px;
    background: #000000;
    display: inline-block
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    margin-top:50px;
    margin-bottom: 40px;
}

.header__preview {
    display: flex;
    align-items: center;
}

.header__preview__link {
    margin-right: 20px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #1E0606;
}

.header__logo {
    margin-right: 60px;
}


.header__contacts__list {
    display: flex;
    align-items: center;
    
}

.header__contacts__link {
    margin-left: 24px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #1E0606;
}
/* HEADER end */







/* FOOTER */
/* фон футтера */
.footer {
    background: #434343;
    padding-top: 100px;
    padding-bottom: 100px;

}


.footer__main {
    display: flex;
    justify-content: space-between;

}

.footer__navigation__block {
    display: flex;
    flex-direction: column;
}


.footer__navigation__line {
    background: #666666;
    width: 380px;
    margin-right: 20px;
    
    
}

.footer__navigation__list__line-all {
    background: #666666;
}

.footer__navigation__list__rating {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.footer__navigation__nav {
    display: flex;
}

.footer__navigation__caption {
    margin-right: 25px;
}


/* свойства для h2 футера */
.footer__navigation__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
}

/* общие свойства для ссылок */
.footer__navigation__link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}



.footer__navigation__caption {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

/* общие свойсчтва для Customer Information*/
.footer__inform__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
}

/* общие свойства для ссылок Customer Information */
.footer__inform__link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

/* h2 Connect  */
.footer__connect__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
}




/* свойства для ввода данных */
.footer__connect__input {
    background: #666666;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #EBEBEB;
    border: 0;
    width: 380px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer__inform__block__connect__link {
    margin-top: 20px;
}

/* свойства для кнопки */
.footer__connect__btn {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 22px;
    padding-left: 22px;
}

.footer__navigation__block__caption {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #A2A2A2;
}

.footer__connect__link {
    margin-right: 10px;
}

.footer__navigation__block__caption {
    margin-bottom: 20px;
}

.footer__navigation__line {
    margin-bottom: 28px;
}

.footer__navigation__link {
    margin-bottom: 15px;
}

.footer__inform__link {
    margin-bottom: 15px;
}

.footer__navigation__list__rating {
    margin-top: 22px;
}


/* Отсутпы блоков */
.footer__inform__block__contactus {
    display: flex;
    flex-direction: column;
    
}

.footer__inform__link-dl {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #A2A2A2;

    margin-left: 110px;
}

.footer__inform__list__nav {
    display: flex;
}

.footer__inform__link-copy {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 154px;
}

.footer__navigation__img {
    margin-right: 2px;
}


.footer__inform__block__connect__input {
    display: flex;
}

.footer__navigation__list__underline-line {
    width: 1180px;
    background: #666666;
}
