.contactUs__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #1E0606;
}

.contactUs {
    margin-bottom: 60px;
}

.contactUs__list {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

.contactUs__list__link {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
}

.contactUs__list__item-text {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    color: #1E0606;
    opacity: 0.5;
}

.contactUs__list__item-pointer {
    margin-right: 20px;
    margin-left: 20px;
}

.contactUs-main {
    display: flex;
}

.contactUs__box {
    background: #E5EAF8;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 42px;
    padding-bottom: 42px;

}

.contactUs-block {
    display: flex;
    flex-direction: column;

}

.contactUs__input {
    width: 600px;
    height: 50px;
}

.contactUs__input-phone {
    width: 290px;
    height: 50px;
}

.contactUs__input-email {
    width: 290px;
    height: 50px;
    margin-left: 20px;
}

.contactUs-chekbox {
    display: flex;
    margin-top: 20px;
    margin-bottom: 18px;

}

.contactUs__chekbox {
    width: 19px;
    height: 19px;
}

.contactUs__caption {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    margin-left: 15px;
}

.contactUs-phone {
    display: flex;
}

.contactUs-phone__nav {
    display: flex;
    flex-direction: column;

}



.contactUs__box__desc {
    padding-top: 14px;

}



.contactUs__box__elem {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1E0606;
}

.contactUs__box__caption {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1E0606;
}

.contactUs__box__btn {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #000000;
    padding-bottom: 9px;
    padding-top: 9px;
    padding-right: 22px;
    padding-left: 22px;

}

.contactUs__list__caption {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.contactUs__list__caption-caps{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
}


.contactUs__box__list {
    display: flex;
}

.contactUs-caption {
    display: flex;
    margin-left: 120px;
}

.contactUs__list__item-caption {
    margin-bottom: 20px;
}