.banner {
    background: #EEE4DB;
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 130px;
}


.banner__quote {
    display: flex;
}

.banner__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
    align-self: center;
    display: flex
}

.banner__quote__list {
    order: -1;
}

.banner__quote__list__item {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 74px;
    color: rgba(30, 6, 6, 0.05);
}

.banner__quote__list__caption {
    margin-left: 28px;
    margin-right: 44px;
    margin-bottom: 10px;
}

.banner__quote__img {
    margin-left: 31px;
}

.banner__designed__list {
    align-self: center;
}


.banner__designed__caption {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
}


/* .banner__block__img {
    background: rgba(30, 6, 6, 0.6);
} */

.banner__quote__caption {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
}


.banner__img__caption {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    background: #C29974;
    color: #FFFFFF;
    align-self: center;
}

/* категории продуктов */


.products__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 90px;
    margin-left: 110px;
    justify-content: space-around;
    
}

.div {
    display: flex;
}


.products__list {

    /* flex-direction: row;
    justify-content: space-around;
     */
}

.products__list__img {
    display: flex;
    margin: auto;
    align-items: flex-end;
}

.products__list__link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    margin: auto;
    z-index: 1;

}

.products__list__img-apparel {
    padding: 46px 18px;
}

.products__list__img-holiday {
    padding: 13px 36px;
}

.products__list__img-accessories {
    padding: 10px 20px;
}

.products__list__apparel {
    position: relative;
    background: #DBE4DB;
    margin-left: 128px;
    margin-top: 30px;
    margin-bottom: 34px;
    margin-right: 20px;
}

.products__list__holiday {
    position: relative;
    background: #EADDD3;
    margin-top: 30px;
    margin-bottom: 34px;
    margin-right: 25px;
}

.products__list__toys {
    position: relative;
    background: #F8F2DA;
    margin-top: 30px;
    margin-bottom: 34px;
    margin-right: 25px;
}

.products__list__accessories {
    position: relative;
    background: #D5D4E1;
    margin-top: 30px;
    margin-bottom: 34px;
    margin-right: 110px; 
}

/* .products__list-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
} */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}


.products__list__btn-left {
    border: 4px solid #1E0606;
    box-sizing: border-box;
    background: rgba(112, 187, 220, 0.2);
    border: none;
    margin-left: 122px;
    margin-right: 30px;
}

.products__list__btn-right {
    border: 4px solid #1E0606;
    box-sizing: border-box;
    background: rgba(112, 187, 220, 0.2);
    border: none;
    margin-right: 32px;
    margin-bottom: 90px;
}

/* rolls */
.products__list__roll {
    display: flex;
}



.text-products {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

/* h2 delivery */

.delivery {
    display: flex;
    margin-left: 110px;
    margin-right: 210px;
    margin-bottom: 90px;
}


.delivery__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    order: 2;
    z-index: 1;
    
}

.delivery__title__img {
    order: -1;
    width: 480px;
    height: 559px;
    /* margin-right: 60px;   */
}


.delivery__list__caption-delivery {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    padding-top: 30px;
    padding-bottom: 18px;
    margin-left: 120px;
}

.delivery__list__link-delivery {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
}

.delivery__list__caption-guarantee {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    margin-top: 20px;
    margin-bottom: 22px;
    margin-left: 120px;
}


.delivery__list__caption-credit {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    margin-bottom: 30px;
    margin-left: 120px;
}

.delivery__list__link-delivery {
    background: rgba(112, 187, 220, 0.2);
    padding-left: 60px;
    padding-right: 180px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 60px;
}


.delivery__list__item {
    /* margin-left: 60px; */
    /* padding-left: 60px; */
    /* margin-right: 214px; */
}


.delivery__list__caption-one {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 120px;
}

.delivery__list__caption-two {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-bottom: 26px;
    margin-left: 120px;
}

.delivery__list__link-learn-more {
    margin-left: 120px;
    
}

/* спонсоры */
.sponsots__list {
    display: flex;
    margin-bottom: 90px;
}

.sponsots__list__item-mail {
    margin-left: 110px;
    margin-right: 128px;

}

.sponsots__list__item-eltex {
    margin-left: 128px;
    margin-right: 128px;
}

.sponsots__list__item-owox {
    margin-right: 110px;
}

/* h2 Design Life Kids */

.forkids__block {
    display: flex;
}

.forKids__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
}

.forKids__list__caption {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
}

.forKids__list__caption2 {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #1E0606;
}

.contacts__list__caption {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.contacts__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
}

