.title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #1E0606;
}

.products__list__btn {
    border: 4px solid #1E0606;
    box-sizing: border-box;
    background: rgba(112, 187, 220, 0.2);
}